<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.eauto.system.mapper.DealerContactMapper">
	<insert id="addEntity" parameterType="com.wp.eauto.system.domain.DealerContact">
		insert into dealer_contact(dealerContactId,dealerId,contactName,phone,email,qq) values(#{dealerContactId},#{dealerId},#{contactName},#{phone},#{email},#{qq})
	</insert>

	<update id="deleteEntity" parameterType="long">
		update dealer_contact set status = -1 where id = #{id}
	</update>

	<update id="updateEntity" parameterType="com.wp.eauto.system.domain.DealerContact">
		update dealer_contact set dealerContactId=#{dealerContactId},dealerId=#{dealerId},contactName=#{contactName},phone=#{phone},email=#{email},qq=#{qq} where id = #{id}
	</update>

	<select id="findEntity" parameterType="com.wp.eauto.system.domain.DealerContact" resultType="com.wp.eauto.system.domain.DealerContact">
		select
		dealer_contact_id AS dealerContactId,
		dealer_id AS dealerId,
		contact_name AS contactName,
		phone AS phone,
		email AS email,
		qq AS qq
		from dealer_contact
	</select>

	<select id="findEntityList" parameterType="com.wp.eauto.system.domain.DealerContact" resultType="com.wp.eauto.system.domain.DealerContact">
		select
		dealer_contact_id AS dealerContactId,
		dealer_id AS dealerId,
		contact_name AS contactName,
		phone AS phone,
		email AS email,
		qq AS qq
		from dealer_contact
		where dealer_id = #{dealerId}
	</select>

	<!--    更新门店联系人-->
	<insert id="updateEntityList"
			parameterType="com.wp.eauto.system.viewmodel.request.dealer.SaveDealerContactListRequestModel">
		-- 删除已经移除的门店联系人
		delete from dealer_contact
		where dealer_id = #{dealerId}
		<if test="dealerContactList!=null and dealerContactList.length>0">
			AND dealer_contact_id NOT IN (
			<foreach collection="dealerContactList" item="item" index="index" separator=",">
				#{item.dealerContactId}
			</foreach>
			)

			-- 新增门店联系人
			insert into dealer_contact(dealer_contact_id,dealer_id,contact_name,phone,email,qq)
			values
			<foreach collection="dealerContactList" item="item" index="index" separator=",">
				(
				#{item.dealerContactId},
				#{dealerId},
				#{item.contact_name},
				#{item.phone},
				#{item.email},
				#{item.qq}
				)
			</foreach>
		</if>
	</insert>


</mapper>