<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wp.eauto.system.mapper.EmployeeMapper">
<!--    查询用户账户-->
    <select id="getUserAccount" resultType="com.wp.eauto.system.viewmodel.model.LoginUserAccountModel"
            parameterType="String">
        select employee_id as employeeId,
        password
        from user_account
        where is_deleted = 0
        and user_name = #{userName}
        limit 1
    </select>
<!--    查询当前登录人员信息-->
    <select id="getEmployeeById" resultType="com.wp.eauto.system.viewmodel.model.LoginEmployeeModel"
            parameterType="String">
        select e.employee_name as employeeName,
        d.a_name as dealerName
        from employee e
        inner join dealer d on e.dealer_id = d.dealer_id
        where e.is_deleted = 0 and d.is_deleted = 0
        and e.employee_id = #{employeeId}
        limit 1
    </select>

<!--    查询当前登录人员角色-->

    <select id="getEmployeeRoles" resultType="com.wp.eauto.system.viewmodel.model.LoginEmployeeRoleModel"
            parameterType="String">
       select r.role_name
        from employee_role er
        inner join role r on er.role_id = r.role_id
        where r.is_deleted = 0
        and er.employee_id = #{employeeId}
    </select>
</mapper>
